@using fuel_consumption_tracker.Client.States;
@inherits LayoutComponentBase

@inject IdentityAuthenticationStateProvider authStateProvider
@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            <table border="0">
                <tr>
                    <td></td>
                    <td>@UserName</td>
                    <td><button type="button" onclick="@LogoutClick">Logout</button></td>
                </tr>
                </table>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    string UserName = "";

    protected override async Task OnInitializedAsync()
    {
        var result = await authStateProvider.GetAuthenticationStateAsync();
        var ThisUser = result.User;
        UserName = ThisUser?.Identity?.Name;
    }

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}